@CHARSET "EUC-KR";
.btn_confirm{
	color: #fff;
	background-color: #d8d8d8;
	border-color: #707070;
	
}
html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	main, nav, section, summary {
	display: block
}

audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline
}

audio
:not
 
(
[
controls
]
 
){
display
:
 
none
;

	
height
:
 
0
}
[hidden], template {
	display: none
}

a {
	background: transparent
}

a:active, a:hover {
	outline: 0
}

abbr[title] {
	border-bottom: 1px dotted
}

b, strong {
	font-weight: bold
}

dfn {
	font-style: italic
}

h1 {
	font-size: 2em;
	margin: .67em 0
}

mark {
	background: #ff0;
	color: #000
}

small {
	font-size: 80%
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -0.5em
}

sub {
	bottom: -0.25em
}

img {
	border: 0
}

svg
:not
 
(
:root
 
){
overflow
:
 
hidden


}
figure {
	margin: 1em 40px
}

hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0
}

pre {
	overflow: auto
}

code, kbd, pre, samp {
	font-family: monospace, monospace;
	font-size: 1em
}

button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0
}

button {
	overflow: visible
}

button, select {
	text-transform: none
}

button, html input[type="button"], input[type="reset"], input[type="submit"]
	{
	-webkit-appearance: button;
	cursor: pointer
}

button[disabled], html input[disabled] {
	cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0
}

input {
	line-height: normal
}

input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	padding: 0
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button
	{
	height: auto
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration
	{
	-webkit-appearance: none
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: .35em .625em .75em
}

legend {
	border: 0;
	padding: 0
}

textarea {
	overflow: auto
}

optgroup {
	font-weight: bold
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

td, th {
	padding: 0
} /*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
html {
	font-family: "jaf-facitweb", "Helvetica Neue", Arial, sans-serif;
	color: #4d4d4d;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.44em
}

html.wf-loading body {
	visibility: hidden
}

::-moz-selection {
	background: #b6e2fc;
	text-shadow: none
}

::selection {
	background: #b6e2fc;
	text-shadow: none
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0
}

audio, canvas, img, svg, video {
	vertical-align: middle
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0
}

textarea {
	resize: vertical
}

h1 {
	font-size: 1.777em;
	line-height: 1.2em;
	margin-top: 1.6em
}

h2 {
	font-size: 1.422em;
	line-height: 1.2em;
	margin-top: 1.6em
}

h3, h4, h5, h6 {
	font-size: 1em;
	line-height: 1.2em;
	margin-top: 1.6em
}

.small {
	font-size: .8em
}

a {
	color: #5e98ba
}

a:hover {
	color: #265773
}

.quiet {
	color: #999
}

a.quiet, .quiet a {
	color: #999
}

a.quiet:hover, .quiet a:hover {
	color: #333
}

blockquote {
	padding-left: 1em;
	border-left: 1px solid #dcdcdc;
	margin-left: 1em
}

label {
	display: block;
	margin: 0 0 .4em
}

input {
	display: block;
	margin: 0 0 1.2em
}

input[type="text"], input[type="email"], input[type="password"] {
	background: #f5f5f5;
	border-radius: 3px;
	border: 1px solid #ccc;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: .4em;
	max-width: 400px;
	width: 100%
}

input[type="text"]:hover, input[type="email"]:hover, input[type="password"]:hover
	{
	border-color: #999
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus
	{
	border-color: #bfbfbf;
	outline: none;
	box-shadow: 0 0 6px #ccc
}

input[type="text"].error, input[type="email"].error, input[type="password"].error
	{
	background: #faebeb;
	border: 1px solid #ebadad
}

input[type="text"].error:focus, input[type="email"].error:focus, input[type="password"].error:focus
	{
	box-shadow: 0 0 6px #ebadad
}

input[type="button"]:focus, input[type="submit"]:focus {
	outline: none
}

.button {
	background: #e6e6e6;
	background: -webkit-linear-gradient(top, #e6e6e6 0, #d9d9d9 100%);
	background: linear-gradient(to bottom, #e6e6e6 0, #d9d9d9 100%);
	border-radius: 3px;
	box-shadow: 0 2px 0 #8c8c8c;
	color: #4d4d4d;
	display: inline-block;
	font-weight: bold;
	margin-bottom: .8em;
	padding: .6em 1.3em;
	position: relative;
	text-decoration: none;
	border: 0
}

.button[disabled] {
	background: #e6e6e6;
	box-shadow: 0 2px 0 #d9d9d9;
	color: #ccc
}

.button:not ([disabled] ):focus, .button:not ([disabled] ):hover {
	background: #d9d9d9;
	background: -webkit-linear-gradient(top, #d9d9d9 0, #ccc 100%);
	background: linear-gradient(to bottom, #d9d9d9 0, #ccc 100%);
	color: #4d4d4d
}

.button:not ([disabled] ):active {
	background: #bfbfbf;
	color: #4d4d4d
}

.button-green {
	background: #48b512;
	background: -webkit-linear-gradient(top, #48b512 0, #3d990f 100%);
	background: linear-gradient(to bottom, #48b512 0, #3d990f 100%);
	box-shadow: 0 2px 0 #4d4d4d;
	color: #fff
}

.button-green:not ([disabled] ):focus, .button-green:not ([disabled] ):hover
	{
	background: #3d990f;
	background: -webkit-linear-gradient(top, #3d990f 0, #327d0c 100%);
	background: linear-gradient(to bottom, #3d990f 0, #327d0c 100%);
	color: #fff
}

.button-green:not ([disabled] ):active {
	background: #327d0c;
	color: #fff
}

.outline-link {
	border: 1px solid;
	border-radius: 3px;
	display: inline-block;
	margin: .6em 0;
	padding: .6em 1em;
	text-decoration: none
}

.header-nav {
	padding: 1em .75em 0
}

.header-nav-link {
	border: 1px solid rgba(0, 0, 0, 0.45);
	border-radius: 3px;
	color: rgba(0, 0, 0, 0.45);
	display: inline-block;
	font-size: .8em;
	padding: .4em 1.2em;
	margin: 0 .25em;
	text-decoration: none;
	vertical-align: top
}

.header-nav-link:hover {
	border-color: #4d4d4d;
	color: #4d4d4d
}

.header-nav-right {
	float: right
}

.body-header-nav-dark-background .header-nav-link {
	border-color: rgba(255, 255, 255, 0.9);
	color: rgba(255, 255, 255, 0.9)
}

.body-header-nav-dark-background .header-nav-link:hover {
	background-color: rgba(255, 255, 255, 0.2);
	border-color: rgba(255, 255, 255, 0.9);
	color: #fff
}

pre, code {
	background: #e6e6e6;
	border-radius: 3px;
	padding: .2em .4em
}

code {
	display: inline-block
}

section {
	overflow: hidden;
	padding: 0 1em;
	word-wrap: break-word
}

section img {
	display: block;
	margin: 1em auto;
	max-width: 100%
}

section h1:first-child, section h2:first-child, section h3:first-child,
	section h4:first-child, section h5:first-child, section h6:first-child
	{
	margin-top: 1em
}

.section-wrapper {
	max-width: 540px;
	margin: 0 auto
}

.page-fine-print section {
	font-size: 16px;
	line-height: 1.44em
}

.section-background-blue {
	background: #0078bd;
	color: #fff
}

.section-background-blue a {
	color: #b6e2fb
}

.section-background-blue a:hover {
	color: #e5f6ff
}

.section-background-faded-blue {
	background-color: #ecf4f9
}

.section-background-gold {
	background-color: #f0f0f0;
	background-image:
		url(https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/68369975a2dc2deec3d9d233ccf82ae3/gold-backgrounds-ocean.png);
	background-size: cover;
	background-position: center
}

.section-background-gold a {
	color: rgba(77, 77, 77, 0.8)
}

.section-background-gold a:hover {
	color: #4d4d4d
}

.section-background-gray {
	background-color: #f0f0f0
}

.section-background-business-class {
	background: #576a75;
	color: #fff
}

.section-background-business-class
 
a
:not
 
(
.button
 
){
color
:
 
#d3dade


}
.section-background-business-class a:not (.button ):hover {
	color: #fff
}

.section-recommend-banner {
	background: #f3f0ce;
	padding: 1em;
	text-align: center
}

.section-recommend-banner-text {
	margin: 0
}

.section-recommend-banner-image {
	height: 30px;
	width: 30px;
	vertical-align: top
}

footer {
	font-size: .8em;
	margin: 4em 1em;
	text-align: center
}

footer ul {
	list-style: none;
	margin: .5em 0 0;
	padding: 0
}

footer li {
	display: inline-block;
	margin: 0 .4em
}

footer p {
	margin: .5em 0
}

.inline-image {
	display: inline-block;
	height: 24px;
	margin: 0;
	width: 24px;
	vertical-align: text-top
}

.rounded-corners {
	border-radius: 3px
}

.text-center {
	text-align: center
}

.inline-block {
	display: inline-block
}

.display-show-large {
	display: none
}

.error-message {
	border-radius: 3px;
	background: #faebeb;
	border: 1px solid #ebadad;
	display: inline-block;
	padding: .4em .8em
}

.info-message {
	border-radius: 3px;
	background: #ebfafa;
	border: 1px solid #adebeb;
	display: inline-block;
	padding: .4em .8em
}

@media only screen and (min-width:650px) {
	section {
		padding: 2em 1em
	}
}

@media only screen and (min-width:900px) {
	html {
		font-size: 20px
	}
	section {
		padding: 4em 1em
	}
	section img {
		max-width: initial
	}
	.section-wrapper {
		margin: 0 auto;
		max-width: 1300px
	}
	.layout-grid-frame {
		margin: 0 auto;
		max-width: 890px;
		position: relative
	}
	.layout-twothirds-center {
		display: block;
		max-width: 585px;
		margin: 0 auto;
		position: relative
	}
	.layout-twothirds-left {
		max-width: 585px
	}
	.layout-twothirds-right {
		margin-left: 315px;
		width: 585px
	}
	.display-show-large {
		display: inline-block
	}
	.layout-callout-far-right, .layout-callout-far-left,
		.layout-callout-right, .layout-callout-left {
		position: absolute;
		top: -3em
	}
	.layout-callout-right {
		left: 640px
	}
	.layout-callout-left {
		right: 640px
	}
	.layout-callout-up3 {
		top: -6em
	}
	.layout-callout-up2 {
		top: -5em
	}
	.layout-callout-up1 {
		top: -4em
	}
	.layout-callout-down1 {
		top: -2em
	}
	.layout-callout-down2 {
		top: -1em
	}
	.layout-callout-down3 {
		top: 0
	}
	.layout-section-tall {
		padding: 6em 1em
	}
}

.hidden {
	display: none !important;
	visibility: hidden
}

.visuallyhidden {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto
}

.invisible {
	visibility: hidden
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table
}

.clearfix:after {
	clear: both
}

@media print {
	* {
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important
	}
	a, a:visited {
		text-decoration: underline
	}
	a[href]:after {
		content: " (" attr(href) ")"
	}
	abbr[title]:after {
		content: " (" attr(title) ")"
	}
	a[href^="#"]:after, a[href^="javascript:"]:after {
		content: ""
	}
	pre, blockquote {
		border: 1px solid #999;
		page-break-inside: avoid
	}
	thead {
		display: table-header-group
	}
	tr, img {
		page-break-inside: avoid
	}
	img {
		max-width: 100% !important
	}
	p, h2, h3 {
		orphans: 3;
		widows: 3
	}
	h2, h3 {
		page-break-after: avoid
	}
}